@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-image: url('https://assets-prd.ignimgs.com/2022/09/01/day-shift-1662053284167.jpg');
 background-size: cover;  
}


.card-movie {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
 justify-content: center;
  margin-top: 40px;
  transition: transform 0.3s;
}

.movies-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0a0328;
    margin: 5px;
    background-color: #0a0328;
    color: white;
    width: 50%;
    margin-left: 20px;
    
}

p{
  font-size: 1.5em;
  font-weight: 500;
  color: #010213;
  border: 2px solid #0a0328;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
 
}
.user-div {
 display: flex;
background-color: rgb(110, 168, 220);
border-radius: 10px;
padding: 10px;
margin: 10px;
justify-content: center;
flex-direction: column;
margin-left: 20px;
align-items: center;
}


